@charset"UTF-8";
*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
:root{
  --texto:#FFF;
  --inverso:#000;
  --provincias: RED;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}
body{
  background: linear-gradient(-0deg,BLACK,YELLOW,RED);
}
.cabecalho{
  width: 100%;
  height: auto;
  position: sticky;
  top: 0;
  background: linear-gradient(30deg,#000000,#EDEE50,#FF0000);
  padding: 10px;
  text-align: center;
  color: var(--texto);
  animation: texto 3s infinite;
  background-size: 400% 400%;
  margin-bottom: 30px;
  text-shadow: 5px 5px 10px #000;
  box-shadow: 5px 5px 5px #000;
}
@keyframes texto{
  0%{background-position: 0% 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0% 50%;}
}
.links{
  margin-top: 15px;
  margin-bottom: 20px;
}
.links a{
  color: var(--texto);
  text-decoration: none;
  padding: 20px;
  cursor: pointer;
}
.links a:hover{
  background: linear-gradient(-45deg,#FFF908,#E40404);
  padding: 10px;
  height: auto;
  width: auto;
  border-radius: 10px;
}
.titulo{
  color: var(--texto);
  text-align: center;
  padding: 10px;
  font-size: 15px;
  margin-top: 20px;
  text-shadow: 10px 10px 5px #000;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  animation: rolar 2s ease-in-out;
}
.provincias{
  text-align: left;
  height: auto;
  width: 75%;
  margin-left: 13%;
  margin-top: 10px;
  border-radius: 10px;
  background: #F4F4F4;
  margin-bottom: 30px;
  color: var(--inverso);
  font-size: 25px;
  padding: 20px;
  text-shadow: 5px 5px 4px #000;
  box-shadow: 10px 10px 20px #111;
  overflow-y: scroll;
  animation: rolar 2s ease-in-out;
}
.title span:after{
  content:'';
  padding-left: 1px;
  animation: words 8s infinite;
}
@keyframes words{
  0%,10%{
    content:'Luanda';
    color: var(--provincias);
  }
  20%,30%{
    content:'Uíge';
    color: var(--provincias);
    
  }
  40%,60%{
    content: 'Malange';
    color: var(--provincias);
  }
  70%,100%{
    content:'Cabinda';
    color: var(--provincias);
  }
}
.home{
  width: 80%;
  height: auto;
  color: var(--inverso);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10%;
  background: #FFF;
  box-shadow: 5px 10px 15px #000;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  animation: rolar 2s ease-in-out;
}
.home h2{
  padding: 10px;
  font-size: 20px;
  text-shadow: 5px 5px 10px #000;
}
.home p{
  font-size: 13px;
  padding: 5px;
  padding-left: 10px;
}
.receita{
  width: 80%;
  height: auto;
  background: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  margin-left: 10%;
  border-radius: 10px;
  box-shadow: 5px 10px 15px #000;
  overflow-y: scroll;
  scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  animation: rolar 2s ease-in-out;
  animation-range: entry 0% cover 30%;
}
@keyframes rolar{
  0%{
    opacity: 0;
    transform: scale(0.8);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
.prato{
  font-size: 20px;
  padding: 10px;
  color: var(--inverso);
  text-shadow: 5px 5px 10px #000;
}
#receitas .receita p{
  font-size: 13px;
  padding: 5px;
  padding-left: 10px;
  color: var(--inverso);
}
.receita .imagens{
  height: 40%;
  width: 45.1%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 20px #000;
  border-radius: 10px;
}
.receita .imagens:hover{
  margin-top: 15px;
  box-shadow: 5px 5px 15px #000;
  transition: transform 3s ease-in-out;
}
.botao{
  background: linear-gradient(-45deg,#FFF908,#E40404);
  padding: 9px;
  border-radius: 10px;
  margin-left: 30%;
  margin-bottom: 10px;
}
.botao a{
  font-size: 14px;
  text-decoration: none;
  color: var(--texto);
}
.rodape{
  background: linear-gradient(30deg,#000000,#EDEE50,#FF0000);
  padding: 10px;
  width: 100%;
  height: auto;
  margin-top: 20px;
  animation: texto 3s infinite;
  color: var(--texto);
  background-size: 400% 400%;
  text-align: center
}
.rodape h1{
  font-size: 30px;
  text-shadow: 5px 5px 5px #000;
}
.rodape p{
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}